# Core GUI Framework
PyQt6>=6.10.0

# Web Engine for browser functionality
PyQt6-WebEngine>=6.10.0

# The engine powering the adblocking feature
adblock>=0.6.0

# System information and process management
psutil>=7.1.3

# For easily and safely making HTTP requests
requests>=2.34.2

# For copying and pasting stuff in the clipboard
pyperclip>=1.11.0

# Normalizing URLs for history managment
url-normalize>=2.2.1